*{
    font-family: "Chau Philomene One", sans-serif;
}

body{
    background-image: url(img/background.png); 
    background-size: 40%;
}

nav{
    top: 0;
    left: 0;
    width: 100%;
}

li{
    display: inline-block;
    text-decoration: none;
    padding-right: 50px;
}

li .menu{
    color: #fab66b;
    text-decoration: none;
    font-size: x-large;
    border-bottom: 3px solid none;
}

li .menu:hover{
    border-bottom: 3px solid #fab66b;
}

li .menuAtual{
    color: #fab66b;
    text-decoration: none;
    font-size: x-large;
    border-bottom: 3px solid #fab66b;
}

.home {
    display: flex;
    padding: 10px;
    color: white;
    background-color: #e09ca0;
    border-radius: 20px;
    max-width: 65%;
    margin-left: 15%;
    margin-top: 7%;
    position: relative; /* Adicionando o position relativo para que a imagem possa sair do elemento */
}

.home .texto {
    font-size: 200%;
    display: flex;
    flex-direction: column;
}

.home img {
    position: absolute; /* Deixa a imagem fora do fluxo normal */
    right: 0; /* Move a imagem para fora pela direita */
    bottom: -25%; /* Alinha a imagem ao fundo do contêiner */
    max-width: 30%; /* Tamanho da imagem */
    height: auto;
}

.titulo{
    color: #fab66b;
    padding-inline-start: 40px;
}

.menu-servicos{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.menu-servicos li{
    width: calc(30%);
    list-style: none;
    text-align: center;
}

.itens-servicos{
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

.menu-produtos{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.menu-produtos li{
    width: calc(30%);
    list-style: none;
    text-align: center;
}

.itens-produtos{
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

.cards{
    background-color: #e09ca0;
    display: inline-block;
    border-radius: 25px;
    margin: 3%;
    padding: 40px 30px;
    width: 250px;
    height: 200px;
}

.cards:hover{
    background-color: #f0c0c0;
}

a{
    text-decoration: none;
    color: white;
    text-align: center;
    max-width: 300px;
    font-size: 40px;
}

.imagem-menu{
    width: 160px;
    height: 170px;
    background-color: white;
    border-radius: 20px;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #e09ca0;
    border-radius: 20px;
    max-width: 65%;
    margin-left: 15%;
    margin-top: 2%;
}

.texto-contato{
    font-size: 200%;
}

.horario-contato{
    font-size: 170%;
}

.data-horario{
    font-size: 170%;
    margin: 0;
}

.imagens-contato{
    margin-top: 10%;
    margin-left: 3%;
}

.icone{
    cursor: pointer;
    margin-right: 3%;
    max-width: 7%;
    height: auto;
    border-radius: 50px;
}